@import url("https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,700;9..144,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@600&display=swap");
:root {
  --Soft-red: hsl(7, 99%, 70%);
  --Yellow: hsl(51, 100%, 49%);
  --Dark-blue: hsl(198, 62%, 26%);
  --Dark-desaturated-cyan: hsl(167, 40%, 24%);
  --Dark-moderate-cyan: hsl(168, 34%, 41%);
  --Grayish-blue: hsl(210, 4%, 67%);
  --White: hsl(0, 0%, 100%);
  --desaturated-blue: hsl(212, 27%, 19%);
  --dark-grayish-blue: hsl(213, 9%, 39%);
  --grayish-blue: hsl(232, 10%, 55%);
}
body {
  margin: 0;
}

.header {
  background-color: #3fbeff;
  width: 100%;
  position: absolute;
  z-index: 1;
}
.nav__container {
  margin: 0 auto;
}

.header ul {
  margin: 0 auto;
  padding: 0;
  list-style: none;
  overflow: hidden;
  background-color: white;
  width: 80%;
  text-align: center;
  position: relative;
  margin-top: 70px;
  border-radius: 30px;
}

.header li a {
  display: block;
  padding: 20px 20px;
  text-decoration: none;
  color: var(--dark-grayish-blue);
  font-family: "Barlow", sans-serif;
  font-size: 17px;
  padding: 20px 30px;
}

.contact__btn {
  text-transform: uppercase;
  background-color: var(--Yellow);
  width: 100px;
  height: 45px;
  border-radius: 30px;
  font-family: "Fraunces", serif;
  border: none;
  margin: 10px 0 30px 0;
}

.header .logo {
  display: block;
  float: left;
  font-size: 2em;
  padding: 17px 20px;
  text-decoration: none;
}

/* menu */

.header .menu {
  clear: both;
  max-height: 0;
  transition: max-height 0.2s ease-out;
}

/* menu icon */

.header .menu-icon {
  cursor: pointer;
  display: inline-block;
  float: right;
  padding: 28px 20px;
  position: relative;
  user-select: none;
}

.header .menu-icon .navicon {
  background: white;
  display: block;
  height: 2px;
  position: relative;
  transition: background 0.2s ease-out;
  width: 18px;
}

.header .menu-icon .navicon:before,
.header .menu-icon .navicon:after {
  background: white;
  content: "";
  display: block;
  height: 100%;
  position: absolute;
  transition: all 0.2s ease-out;
  width: 100%;
}

.header .menu-icon .navicon:before {
  top: 5px;
}

.header .menu-icon .navicon:after {
  top: -5px;
}

/* menu btn */

.header .menu-btn {
  display: none;
}

.header .menu-btn:checked ~ .menu {
  max-height: 320px;
}

.header .menu-btn:checked ~ .menu-icon .navicon {
  background: transparent;
}

.header .menu-btn:checked ~ .menu-icon .navicon:before {
  transform: rotate(-45deg);
}

.header .menu-btn:checked ~ .menu-icon .navicon:after {
  transform: rotate(45deg);
}

.header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before,
.header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after {
  top: 0;
}
/* hero */
.hero {
  background-image: url(./images/mobile/image-header.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}
.hero__item {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 200px;
}
h1 {
  color: white;
  font-size: 2.5rem;
  text-align: center;
  font-family: "Fraunces", serif;
  text-transform: uppercase;
  letter-spacing: 6px;
}
/* descption */
.img {
  width: 100%;
  height: 100%;
}
.des {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 16px 16px 30px 16px;
}
h2 {
  margin: 40px 20px 10px 20px;
  color: var(--desaturated-blue);
  font-family: "Fraunces", serif;
  font-size: 2rem;
  text-align: center;
}
p {
  margin: 0 auto;
  font-family: "Barlow", sans-serif;
  font-size: 18px;
  color: var(--Grayish-blue);
  text-align: center;
  padding: 1.5rem;
  line-height: 1.5;
}
.learnmore_btn {
  padding: 5px;
  font-family: "Fraunces", serif;
  text-transform: uppercase;
  text-decoration: none;
  color: var(--desaturated-blue);
  position: relative;
}
.yellow::after {
  background: var(--Yellow);
}
.red::after {
  background: var(--Soft-red);
}
.learnmore_btn::after {
  content: "";
  position: absolute;
  bottom: -8%;
  left: -2%;
  height: 13px;
  width: 105%;
  opacity: 0.25;
  border-radius: 28px;
  z-index: -1;
  transition: all 0.2s ease-in-out;
}
.yellow:hover::after {
  opacity: 1;
}
.red:hover::after {
  opacity: 1;
}

/* Service */
.text__img {
  width: 100%;
  height: 700px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  padding-bottom: 80px;
  box-sizing: border-box;
}
.graphic__design {
  background-image: url(./images/mobile/image-graphic-design.jpg);
}
.photography {
  background-image: url(./images/mobile/image-photography.jpg);
}
.gd_title,
.gd_text {
  color: var(--Dark-desaturated-cyan);
}
.pg_title,
.pg_text {
  color: var(--Dark-blue);
}

@media (min-width: 48em) {
  .header .menu {
    clear: none;
    float: right;
    max-height: none;
  }
  .header .menu-icon {
    display: none;
  }
}
